header {
    height: 80px;
}

img {
    width: 40px;
    height: 40px;
}

main {
    min-height: calc(100vh - 160px);
}

footer {
    height: 80px;
}

.container-nota-form {
    box-shadow: 4px 4px;
    background-color: lightblue;
}

.container-tablero {
    background-image: url(https://www.petroskoublis.com/in_landscapes/01.jpg);
    background-size: cover;
}

.card {
    width: 250px;
    height: 250px;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
}

.scroll-texto {
    max-height: 80px;
}

.container-estrella-checkbox svg {
    height: 24px;
    width: 24px;
    transition: all 0.3s;
    fill: #666;
}

.container-estrella-checkbox svg:hover {
    transform: scale(1.7);
}

.container-estrella-checkbox input:checked~svg {
    fill: #ffe30f;
}

.card-chiems>img {
    width: 200px;
    height: 200px;
}

.input-buscar {
    outline: none;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 5px #f5f5f5eb;
}

.icono-size {
    width: 20px;
    height: 20px;
}

.checkbox-realizadas {
    height: 26px;
}

.checkbox-realizadas>label {
    width: 18px;
    height: 18px;
    transition: all 0.25s ease 0s;
    background: gray;
}

.checkbox-realizadas > label:hover {
    background: #ffe30f;
}

.checkbox-realizadas>input:checked+label {
    margin-left: calc(100% - 18px);
    background: #ffe30f;
}

.checkbox-realizadas > input:checked + label:hover {
    background: gray;
}

.button-nota {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.button-nota:active {
  box-shadow: 0px 0px 0px 0px;
}