body {
    background-color: #e1f0dc91;
}

header {
    height: 80px;
}

.navbar-toggler {
    margin-left: auto;
}

img {
    width: 40px;
    height: 40px;
}

li>img {
    width: 20px;
    height: 20px;
}

main {
    min-height: calc(100vh - 160px);
}

footer {
    height: 80px;
}

.container-nota-form
{
    background: lightblue;
    border-radius: 5px;
    border: 2px solid ;
    box-shadow: 4px 4px;
}

.container-tablero {
    background-image: url(https://www.petroskoublis.com/in_landscapes/01.jpg);
    background-size: cover;
}

.card {
    width: 250px;
    height: 250px;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
}

.scroll-texto {
    max-height: 90px;
    overflow-y: auto;
}

.container-star svg {
    height: 24px;
    width: 24px;
    transition: all 0.3s;
    fill: #666;
}

.container-star svg:hover {
    transform: scale(1.7);
}

.container-star input:checked~svg {
    fill: #ffe30f;
}

.card-chiems {
    width: 500px;
    height: 250px;
}

.card-chiems>img {
    width: 200px;
    height: 200px;
}

.input {
    outline: none;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 5px #f5f5f5eb;
    transition: .3s ease;
}

.icon {
    width: 20px;
    height: 20px;
}

.button {
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    fill: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.checkbox-realizadas {
    --size: 50px;
}

.checkbox-realizadas input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: #fff;
    border: 3px solid #222;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.checkbox-realizadas input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 3px solid #222;
    border-radius: 100px;
    background-color: #fde881;
    box-sizing: border-box;
    transition: all 0.5s;
}

.checkbox-realizadas input[type="checkbox"]:checked {
    background-color: #fde881;
    border-radius: 100px;
}

.checkbox-realizadas input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: #fff;
    border-radius: 100px;
}